.app-background {
  @apply bg-black h-screen bg-no-repeat bg-cover bg-center flex flex-col items-center justify-around px-3 font-DM;
}

.onboarding-bg {
  @apply bg-onboarding-bg h-screen bg-no-repeat bg-cover bg-center font-poppins px-3;
}

.home-background {
  @apply bg-app-bg bg-no-repeat bg-cover bg-center font-poppins flex flex-col justify-start;
}

.line {
  @apply border-2 border-white rounded-full mx-1;
}
